@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body, html {
  /* background-image: url('./kits/feedimg.png');
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0 auto; padding: 0;
  font-family: 'pretendard';
  background: #000;
}

section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
  background: powderblue;
}
