@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body, html {
  /* background-image: url('./kits/feedimg.png');
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0 auto; padding: 0;
  font-family: 'pretendard';
  background: #000;
}

section {
  position: relative;
}

.fucnctions {
  position: absolute;
}



.topfunctions {
  /* display: flex;
  flex-direction: row;
  flex-basis: 580px;
  /* background-color: powderblue; */
  padding-top: 17%;
  /* padding-left: 5%; padding-right: 5%; */
  /* background: powderblue; */
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.topitems {
  padding-left: 0px;
}


.botfunctions {
  /* display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  margin-top: 500px;
  text-align: right;
  padding-right: 7%;
  /* flex-grow: 2; */
}
.botitems:nth-child(2) {
  padding-top: 5%;
  margin-right: 1.4%;
}
.botitems:nth-child(3) {
  padding-top: 7%;
}
.botitems:nth-child(4) {
  padding-top: 7%;
}
h6 {
  color: white;
  /* font-family: "pretendard"; */
  font-size: 12px;
}

#carouselExampleFade {
  width: 100%; height: 100%;
  object-fit: cover;
}

#hover:hover {
  cursor: pointer;
  background: #000;
  box-shadow: 20px 20px 20px 20px #000;
  opacity: 0.5;
}
