@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  display: flex;
  flex-direction: column;
  background-image: url('kits/signinup_backgroundimg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  margin: 120px auto;
  padding-right: 100px;
  /* background: rgb(0, 0, 0, 0.2); */
  flex-basis: 220px;
}
h2 {
  /* position: absolute; */
  /* margin-top: 121px; margin-left: 45px; */
  font-family: 'pretendard';
  font-weight: 600;
  font-size: 28px;
  color: white;
  line-height: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.button {
  margin: 6px;
}
.button:nth-child(5) {
  margin-top: 18px;
}

/* .title { */
  position: absolute;
  top: 121px; left: 45px;
}

/* .signup_google { */
  position: absolute;
  top: 464px;
  left: 36px;
}
/* .signup_naver { */
  position: absolute;
  top: 539px;
  left: 36px;
}
/* .signup_kakao { */
  position: absolute;
  top: 614px;
  left: 36px;
}
/* .signup_email { */
  position: absolute;
  top: 689px;
  left: 36px;
}

/* .signin { */
  position: absolute;
  color: white;
  text-align: center;
  bottom: 5%; left: 50%;
  transform: translateX(-50%);
  font-family: 'Apple SD Gothic Neo';
  font-style: 'regular';
}
